<h1>lists of users</h1>
<% @users.each do |user| %>
  <div> <img src=<%= user.photo%> width="200" heigth="200"> </div>
  Picture: <%= user.photo%>
  <div>
  <a href="<%= user_path(user) %>">
    Name: <%= user.name %><br>
    number of posts: <%= user.posts.count%>
  </a>
  </div>
  
  <br><br>
<% end %>
