<section class="w-full">
  <div class="container w-full">
    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg mb-4">
      <img src=<%= @user.photo%> alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/108x98">
      <div class="flex-grow">
        <h2 class="text-gray-900 title-font font-medium"><%= @user.name %></h2>
        <p class="text-gray-500">number of posts: <%= @user.posts.count%></p>
      </div>
    </div>
    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg mb-4">
      <div class="flex-grow">
      <h2 class="text-gray-900 title-font font-medium">Bio: </h2>
        <p class="text-gray-500"><%= @user.bio%></p>
      </div>
    </div>
    <%= will_paginate @posts %>
    <% @posts.each_with_index do |post, index| %>
    <% post_index = (@posts.current_page - 1) * @posts.per_page + index + 1 %>
      <a href="<%= user_post_path(@user, post) %>" class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
        <div class="flex-grow"> 
          <h2 class="text-gray-900 title-font font-medium" >Post #<%= post_index %></h2>
          <h2 class="text-gray-900 title-font font-medium" ><%= post.title%></h2>
          <p class="text-gray-500"><%= post.text %></p>
          <p class="text-gray-500">Comments: <%= post.comments.size %> Likes: <%= post.likes.size %> </p>
        </div>
      </a>
      <div class="h-full border-gray-200 border p-4 rounded-lg">
        <% if post.comments.size >= 1 %> 
          <% post.top_comments.includes(:user).each do |comment| %>
            <div class="flex">
            <p class="mr-6 text-gray-500 py-1"><%= comment.user.name %>: <%= comment.text %></p>
            <% if can? :destroy, comment %>
              <%= button_to 'Delete',
                  user_post_comment_path(@user, post, comment),
                  method: :delete,
                  class: "text-white bg-indigo-500 border-0 py-1 pw-4 focus:outline-none hover:bg-indigo-600 rounded text-lg"
              %>
            <% end %>
            </div>
          <% end %>
          <% else %>
            <p class="text-gray-500">No comments yet.</p>
        <% end %>
      </div>
      <div>
      <% if can? :destroy, post %>
          <%= button_to  'Delete',
              user_post_path(@user, post),
              method: :delete,
              class: "mb-20 text-white bg-indigo-500 border-0 py-2 w-full focus:outline-none hover:bg-indigo-600 rounded text-lg"
          %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>