<h1>specific post</h1>
Title : <%= @post.title%>
<article>
  <div>
    <div>
      Post # X
    <div>
    <div>
      Comments : <%= @post.comments.count %>, Likes: <%= @post.comments.count %>
    </div>
  </div>
  <div>
    <%= @post.text %>
  </div>
</article>
<div>
  <% @post.comments.each do |comment| %>
  <% user = User.find(comment.user_id) %>
  <%= user.name %>: 
  <%= comment.text %>
  <br>
  <% end %>
</div>
