<% author = User.find(@post.author_id) %>

<section class="w-full">
  <div class="container w-full">
    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
      <div class="flex-grow">
        <h2 class="text-gray-900 title-font font-medium">Post #<%= @post_index + 1 %> by <%= author.name %> </h2>
        <h3 class="text-gray-900 title-font font-medium"><%= @post.title %> </h2>
        
        <div class="flex space-x-2">
          <p class="text-gray-500">
            Comments: <%= @post.comments.count %>, 
          </p>
          <p class="text-gray-500">
            Likes: <%= @post.likes.count %>
          </p>
            <div>
            <%= form_with model: @new_like, url: user_post_likes_path(user_id: @current_user, post_id: @post) do |f| %>
              <div>
                <%= button_tag( :class => "button_green") do %>
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 text-gray-500" viewBox="0 0 24 24">
                  <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                </svg>
                <% end %>
              </div>
            <% end %>
            </div>
        </div>

        <p class="text-gray-500"><%= @post.text%></p>
      </div>
    </div>
    <div class="h-full border-gray-200 border p-4 rounded-lg mb-20">
      <% if @post.comments.size >= 1 %> 
        <% @post.comments.includes(:user).each do |comment| %>
          <p class="text-gray-500"><%= comment.user.name %>: <%= comment.text %></p>
        <% end %>
        <% else %>
          <p class="text-gray-500">No comments yet.</p>
      <% end %>
    </div>
    <div class=" border-gray-200 border p-4 rounded-lg p-2 lg:w-1/3 md:w-1/2 w-full mx-auto">
      <div class="flex-grow">   
        <a href="<%= new_user_post_comment_path(@post.author, @post) %>" class="flex justify-center">
          <button class="p-2 lg:w-1/3 md:w-1/2 w-full">
          Make a Comment
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
